@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #242424;
    height: 100vh;
    width: 100vw;
}

main {
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main > h1 > input {
    width: 300px;
    height: 30px;
    display: block;
    background-color: #161616;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4px;
    margin-bottom: 10px;
}

main .tasks {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #161616;
}

main > article#circleTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #161616;
    border: 2px solid black;
    border-radius: 50%;
}

main > article#circleTimer > p#valueTimer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 250px;

    background-color: #161616;
    border: 3px solid black;
    border-radius: 50%;
    font-family: cursive;
    font-weight: bolder;
    color: white;
    font-size: 1.6rem;
}

main > button {
    width: 300px;
    height: 30px;
    background-color: #161616;
    border: 1px solid #90ee90;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

@media (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "circle title"
                            "circle button";
    }

    main > article#circleTimer {
        margin-right: 10px;
        order: -1;
        grid-area: circle;
        justify-self: end;
        margin-right: 20px;
    }

    main > h1 {
       display: flexbox;
       grid-area: title;
       justify-self: start;
       align-self: end;
       margin-left: 20px;
       margin-bottom: 20px;
    }

    main > button {
        grid-area: button;
        justify-self: start;
        align-self: start;
        margin-left: 20px;
    }
}